body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
  line-height: 18px;
  color: rgba(26, 17, 17, 0.815);

}

#titulo {
  color: red;
  font-size: 40px;
}

#cabecalho {
  background-color: black;
  position: fixed;
  top: 0px;
}

#minha_foto {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: blueviolet;
  border-style: dashed;
}

#licoes_aprendidas, #licoes_a_aprender {
  color: rgb(4, 0, 255);
}

#rodape {
  text-align: center;
}

.img_footer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#article_h1 {
  text-align: start;
  margin-left: 23%;
  width: 200px;
}

.paragraph {
  text-indent: 25px;
  text-align: justify;
  width: 300px;
}

.lado-direito {
  display: inline;
  width: 25%;
  position: relative;
  float: right;
  background-color: coral;
  text-align: justify;
  text-indent: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.lado-esquerdo {
  display: inline;
  width: auto;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(183, 219, 21);
}
