body {
    background-color: rgb(253, 251, 251);
}

#titulo {
    color:red;
}

#cabecalho {
    background-color: black;
    top: 0px;
    position: fixed;
}

#minha_foto {
    float: left;
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

#licoes_aprendidas, #licoes_a_aprender {
    color: rgb(4, 0, 255);
}

#rodape {
    text-align: center;
}

.img_footer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#article_h1 {
    text-align: center;
}

.paragraph {
    text-indent: 25px;
    text-align: justify;
}